* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body_section {
  background-color: #080808;
  color: #fff;
}

.logo {
  height: 3rem;
}

nav {
  background-color: #080808;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: #fff;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #22a39f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  font-size: 30px;
  margin-top: 70px;
}

.header-text p {
  font-weight: 300;
}

.header-text h1 {
  font-size: 60px;
  font-weight: bold;
}

.header-text h1 span {
  color: #22a39f;
}

.backgroundpic {
  display: flex;
  justify-content: center;
}

.details-table {
  border: solid 2px #e94560;
  border-radius: 5px;
}

#aboutme img {
  border-radius: 2rem;
}

#aboutme h1 {
  font-weight: bold;
}

#aboutme p,
#work p {
  text-align: justify;
}

.button {
  padding: 8rem 2.2rem;
  position: relative;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button.primary-button {
  background: #cf0a0a;
  background-clip: padding-box;
  color: #fff;
  transition: 0.5s;
  box-shadow: 1rem;
}

.button.primary-button:hover {
  background: #080808;
  background-clip: padding-box;
  color: #fff;
}

.button.primary-button:after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: #cf0a0a;
  content: "";
  z-index: -1;
  border-radius: 4px;
}

#work h1,
#education h1,
#skills h1,
#projects h1 {
  font-weight: bold;
}

#work span,
h3 {
  color: #e94560;
}

#education span {
  color: #8758ff;
}

#skills span {
  color: #f15412;
}

.carousel img {
  height: 35rem;
}

#projects span {
  color: #8bbccc;
}

#footer .container {
  display: flex;
  justify-content: space-evenly;
}

#footer img {
  background-color: #fff;
  border-radius: 2rem;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

#footer hr {
  background-color: #fff;
  height: 0.5rem;
}

#footer h6 {
  display: flex;
  justify-content: center;
}

#footer span {
  color: #22a39f;
  font-weight: bold;
}

.contact-me {
  display: flex;
  align-items: center;
}

#footer img:hover {
  background: #080808;
  background-clip: padding-box;
  color: #fff;
  transition: 0.6s;
  border: 2.5px solid #22a39f;
}

.card {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  background-color: #8bbccc !important;
  border-radius: 10px !important;
}

.card h5 {
  font-weight: bold;
}

.layer {
  width: 100%;
  height: 0;
  color: #080808;
  background-color: #fff;
  border-radius: inherit;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: justify;
  font-size: 14px;
  font-weight: 700;
  transition: 0.5s;
}

.layer h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

.layer img {
  background-color: #8bbccc;
  border-radius: 2rem;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.layer img:hover {
  background: #fff;
  border: 2px solid #8bbccc;
  background-clip: padding-box;
  color: #fff;
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover .layer {
  height: 100%;
}

.card-img-top {
  height: 220px;
}
